aiohttp
aiosignal
anaconda-client
anaconda-navigator
appdirs
argh
async-timeout
atomicwrites
audioplayer
audioread
Authlib
backports.weakref
bkcharts
black
boto
Bottleneck
Brotli
brotlipy
cached-property
certifi
cffi
charset-normalizer
clyent
comtypes
conda
conda-build
conda-verify
contextlib2
cycler
cytoolz
dash
dash-core-components
dash-html-components
dash-table
deepgram-sdk
distlib
entrypoints
et-xmlfile
fastcache
filelock
Flask-Compress
frozenlist
future
gunicorn
h2
h5py
HeapDict
hpack
huggingface-hub
hyperframe
isodate
jdcal
json5
jsonlines
jupyter
keyrings.alt
librosa
llvmlite
locket
lockfile
MarkupSafe
mccabe
menuinst
micropython-fcntl
micropython-ffilib
mistune
mkl-fft
mkl-service
mpmath
multidict
multipledispatch
mypy-extensions
navigator-updater
numpy
olefile
parso
pathspec
patsy
pep8
pkginfo
platformdirs
plotly
ply
pooch
pycosat
pycparser
pycurl
pydub
pygame
pyodbc
pyperclip
pyreadline
PySoundFile
pytest
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
QtPy
requests-file
requests-toolbelt
resampy
sacremoses
scikit-image
serverfiles
simple-salesforce
simplegeneric
sip
slack-sdk
SoundFile
sox
SpeechRecognition
statsmodels
tables
tenacity
terminado
tokenizers
torch
torchaudio
torchvision
transformers
unicodecsv
urlgrabber
virtualenv
webencodings
websockets
widgetsnbextension
win-unicode-console
wincertstore
wrapt
xlwings
xlwt
xmltodict
yarl
zeep
zict
zope.event